---
import MainLayout from "@/layouts/main-layout.astro";
import { WebsiteStats } from "@/components/WebsiteStats";

// Mark this page for server-side rendering
export const prerender = true;

// Get the website parameter from the URL
const { website } = Astro.params;

// Debug log
console.log('Website param:', website);
---

<MainLayout title={`${website} - CO2 Stats`}>
  <section id="data" class="container bg-slate-50 dark:bg-transparent py-4 md:py-6 lg:py-10">
    <div class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center">
      <h5 class="font-heading text-lg leading-[1.1] sm:text-xl md:text-xl text-muted-foreground">
        Viewing Results For
      </h5>
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        {website}
      </h2>
      <p class="max-w-[85%] lg:max-w-[55%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text">
        Let's take a look at the carbon emissions data for{" "}
        <a 
          href={`http://${website}`} 
          class="underline text-gradient_sky-emerald hover:decoration-emerald-500 underline underline-offset-4" 
          target="_blank" 
          rel="noreferrer"
        >
          {website}
        </a>. 
        It is updated nightly and is available at the{" "}
        <a 
          href="https://github.com/ctrimm/co2-emission-tracker" 
          target="_blank" 
          rel="noreferrer" 
          class="decoration-emerald-500 underline underline-offset-4"
        >
          GitHub repo
        </a>.
      </p>
    </div>
  </section>
  
  {website ? (
    <WebsiteStats client:load domain={website} />
  ) : (
    <div class="container mx-auto">
      <p class="text-red-500">No website specified</p>
    </div>
  )}
</MainLayout>
